td {
	width: 100px;
	height: 100px;
	border: 1px solid white;
	font-size: 50px;
	text-align: center;
	color: white;
}

.jumbotron > h1 {
	text-align: center;
	font-family:Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
	color: white;
	font-size: 40px;
}

/*GREEN HEDER*/
.bg-primary {
	margin-top: -10px;
	margin-bottom: 70px;
	background-color: #33B7B5;
}

.jumbotron .text {
	color: black;	
}

.jumbotron {
	height: 550px;
	position: relative;
	margin-bottom: 0;
}

/*NAV BAR*/
.nav {
	margin: 5px;
}

/*BOARD*/
.modal-content {
	background-color: rgb(30,66,140);
}

.btn {
	margin-left: 90px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
}

.colors1 {
	background-color: rgba(0,128,55,1);
}

.colors2 {
	background-color: rgba(174,20,175,1);
}

.text {
	padding-left: 110px;

}

footer {
	height: 40px;
	background-color: #33B7B5;
	position: relative;
	color: white;
	text-align: center;
}

